**/.classpath
**/.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/compose*
**/node_modules
**/npm-debug.log
**/obj
**/build
**/dist
