:root {
    --background-color: #000;
    --highlight-color: #fff;
    --text-color: #000000;
  }

body{
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

